@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.error-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 113px;
	margin: 113px 0;
	color: $primary-color;
}

.error404 {
	font-weight: 700;
	font-size: 96px;
	line-height: 143%;
}

.error-text {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	line-height: 143%;
}

.error-return-link {
	text-decoration: underline;
	color: $secondary-color;
	font-size: 14px;
	font-weight: 500;
	line-height: 143%;
}

@include respond-to('tablet') {
	.error404 {
		font-size: 144px;
	}

	.error-text {
		flex-direction: row;
		gap: 8px;
		font-size: 24px;
	}

	.error-return-link {
		font-size: 18px;
	}
}


@include respond-to('desktop') {
	.error-container {
		gap: 139px;
		margin: 139px 0;
	}

	.error404 {
		font-size: 288px;
	}

	.error-text {
		flex-direction: row;
		font-size: 36px;
		gap: 10px;
	}

	.error-return-link {
		font-size: 18px;
	}
}