@use '../../styles/_variables' as *;
@use '../../styles/_mixins' as *;

.tag {
    background-color: $primary-color;
    color: $tertiary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 18px;
    border-radius: 5px;
    padding: 2px 10px;

    &__text {
        font-size: 10px;
        font-weight: 700;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    @include respond-to('tablet') {
        width: 100px;
        height: 25px;
        border-radius: 7px;

        &__text {
            font-size: 12px;
            font-weight: 600;
        }
    }

    @include respond-to('desktop') {
        width: 115px;
        border-radius: 10px;

        &__text {
            font-size: 14px;
            font-weight: 500;
        }
    }
}