@use '../../styles/_variables' as *;
@use '../../styles/_mixins' as *;

.slideshow {
    position: relative;
    width: 100%;
    max-width: 355px;
    height: 255px;
    

    &__container {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    &__control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color: $tertiary-color;
        cursor: pointer;
    }

    &__control--prev {
        left: 10px;
    }

    &__control--next {
        right: 10px;
    }
}

@include respond-to('tablet') {
    .slideshow {
        max-width: 700px;
        height: 415px;

        &__control {
            font-size: 48px;
        }
    }
}
@include respond-to('desktop') {
    .slideshow {
        max-width: 956px;

        &__control {
            font-size: 96px;
        }
    }
}
@include respond-to('large-desktop') {
    .slideshow {
        max-width: 1240px;
    }
}