#root {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content {
	flex: 1;
	width: 100%;
	padding: 0 20px 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
