@use '@/styles/_variables' as *;
@use '@/styles/_mixins' as *;

.content {
	margin-top: 19px;
}

.collapse-container {
	max-width: 335px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 38px;
	gap: 20px;
	margin-bottom: 19px;
}

@include respond-to('tablet') {
	.about-page {
		max-width: 700px;
		width: 100%;
	}

	.collapse-container {
		max-width: 700px;
	}
}

@include respond-to('desktop') {
	.content {
		margin-top: 38px;
	}

	.about-page {
		max-width: 956px;
		width: 100%;
	}
	.collapse-container {
		max-width: 956px;
	}
}

@include respond-to('large-desktop') {
	.about-page {
		max-width: 1240px;
		width: 100%;
	}
	.collapse-container {
		max-width: 1240px;
	}
}
