@use 'sass:map';
@use './_breakpoints' as *;

@function rem($px, $base: 16) {
	@return calc(($px / $base) * 1rem);
}

@function bp($key) {
	@return map.get($breakpoints, $key);
}

@mixin respond-to($key) {
	$size: bp($key);
	@if $size {
		@media (min-width: $size) {
			@content;
		}
	} @else {
		@warn "Breakpoint `#{$key}` introuvable.";
	}
}
