@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 0 0;
	width: 100%;
	max-width: rem(335);

	@include respond-to('tablet') {
		max-width: rem(700);
	}

	@include respond-to('desktop') {
		padding: 34px 0 0 0;
		max-width: rem(956);
	}

	@include respond-to('large-desktop') {
		padding: 40px 0 0 0;
		max-width: rem(1240);
	}
}
