@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px 0 20px;
	width: 100%;

	@include respond-to('tablet') {
		padding: 40px 100px 0 100px;
		max-width: rem(1240);
	}
}
