@use '../../styles/_variables' as *;
@use '../../styles/_mixins' as *;

.thumb {
    display: block;
	width: 335px;
    height: 255px;
    position: relative;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        color: $tertiary-color;
        text-align: left;
        position: absolute;
        bottom: 15px;
        left: 20px;
        right: 60px;
        text-wrap: balance;
    }

    @include respond-to('tablet') {
        width: 340px;
        height: 340px;

        &__title {
            bottom: 20px;
        }
    }
}