@use '../../styles/_variables' as *;
@use '../../styles/_mixins' as *;
.footer {
	background-color: $secondary-color;
	width: 100%;
	padding: 66px 126px 58px 126px;
	color: $tertiary-color;
	font-size: 12px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;

	@include respond-to('desktop') {
		padding: 66px 126px 29px 126px;
		font-size: 24px;
		gap: 46px;
		font-size: 24px;
	}
}
