@use '../../styles/_variables' as *;
@use '../../styles/_mixins' as *;

.nav {
	display: flex;
	gap: 26px;

	&Link {
		color: $secondary-color;
		text-decoration: none;
		font-size: 12px;
		font-weight: 500;
		text-align: right;
		&.active {
			text-decoration: underline;
		}
	}

	@include respond-to('tablet') {
		gap: 57px;
		&Link {
			font-size: 16px;
		}
	}

	@include respond-to('desktop') {
		&Link {
			font-size: 24px;
		}
	}
}
