@use '../../styles/_variables' as *;
@use '../../styles/_mixins' as *;
@use 'sass:color';

.banner {
    position: relative;
    width: 335px;
    height: 111px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: color.adjust($secondary-color, $alpha: -0.6);
        z-index: 1;
        pointer-events: none;
    }
    
    &--with-title::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: color.adjust($secondary-color, $alpha: -0.4);
        z-index: 1;
        pointer-events: none;
    }

    &__image {
        object-fit: cover;
        object-position: center 50%;
        scale: 1.15;
        width: 100%;
        height: 100%;

        &--scale-up {
            scale: 1.85;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        color: $tertiary-color;
        position: absolute;
        bottom: 32px;
        top: 31px;
        left: 16px;
        right: 94px;
        text-align: left;
        z-index: 2;
    }

    @include respond-to('desktop') {
        width: 1240px;
        height: 223px;

        &__image {
            scale: 1;

            &--scale-up {
                scale: 1;
            }
        }

        &__title {
            font-size: 48px;
            bottom: 77px;
            top: 78px;
            left: 273px;
        }
    }
}